<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>澳众棋牌_澳众棋牌_澳众游戏_澳众棋牌官网</title>
    <meta name="description" content="澳众棋牌 澳众棋牌游戏平台,提供斗地主、金蟾捕鱼等各类棋牌游戏注册试玩、免费下载,欢迎体验!" />    <meta name="keywords" content="澳众棋牌，澳众游戏平台，澳众金蝉捕鱼，澳众牛牛、澳众百人牛牛、澳众德州扑克、澳众港式五张、澳众二人麻将、澳众扎金花" />
    <link href="/content/style.css" rel="stylesheet" type="text/css" media="all" />

    @if (IsSectionDefined("styles"))
    {
        @RenderSection("styles", required: false);
    }

    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/ajaxForm")
    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: false);
    }
    <script src="/Scripts/jquery.backstretch.min.js" ></script>
   
</head>

<body>
    @RenderBody()
    <!--底部-开始-->
    <div class="bottm-box">
       
        <div class="bottm-back">
            <br/>
             <div class="bottm-title">
            <div class="bottm-nav">
                <a href="/"><img src="/images/new/bottomnav_03.png"/></a>｜
                <a href="/Agreement"><img src="/images/new/bottomnav_05.png"/></a>｜
                <a href="/ActivityCenter"><img src="/images/new/bottomnav_07.png"/></a>｜
                <a href="/CustomerService"><img src="/images/new/bottomnav_09.png"/></a>｜
                <a href="/Spread"><img src="/images/new/bottomnav_11.png"/></a>｜
                <a href="/Contact"><img src="/images/new/bottomnav_13.png"/></a> </div>
        </div>
            <div class="bottm-zy"><img src="/images/new/bottomnav_22.png" /></div>
<br/>


</br> </div>
        </div>
    </div>

    <!--底部-结束-->





<!-- Live800在线客服图标:默认图标[浮动图标] 开始-->
<!--<div style='display:none;'><a href='http://www.live800.com'>live800Link.onlinechat</a></div><script language="javascript" src="http://kf1.learnsaas.com/chat/chatClient/floatButton.js?jid=3203991151&companyID=640051&configID=55121&codeType=custom"></script><div style='display:none;'><a href='http://en.live800.com'>live chat</a></div>-->
<!-- 在线客服图标:默认图标 结束-->

</body>
</html>



