@{
    Layout = null;
}
@model WebSite_YS.Models.Partial.TradeMall


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>内嵌</title>
    <link rel="stylesheet" type="text/css" href="/Content/wap/css.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script type="text/javascript">
        function MM_swapImgRestore() { //v3.0
            var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
        }
        function MM_preloadImages() { //v3.0
            var d = document; if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
            }
        }

        function MM_findObj(n, d) { //v4.01
            var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
            }
            if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
            if (!x && d.getElementById) x = d.getElementById(n); return x;
        }

        function MM_swapImage() { //v3.0
            var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2) ; i += 3)
                if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
        }
    </script>
    <script>
        sendsms = function () {
            var _tel = $("#tel_text").val();
                if (_tel != "") {
                    $.SendData("SendSMS", { tel: _tel }, function () {
                        $("#telsub_button").attr("disabled", "disabled");
                        countDown();
                        countDownTag = setInterval("countDown()", 1000);
                    }, function (data) {
                        if (data.e == 2) {
                            alert("短信发送失败"); reBtton();
                        }
                        else if(data.e == 3)
                        {
                            alert("你还没有绑定手机，请去客户端进行手机绑定"); reBtton();
                        }
                        else if(data.e == 4)
                        {
                            alert("您输入的手机号码和您绑定手机号码不一致"); reBtton();
                        }
                        else if(data.e == 0){
                            alert("登陆超时,请重新登陆网站");
                            window.location.href = "/UserCenter/Login";
                        }
                    });
                }
                else
                    alert("请填写手机号码")
        }

        //function sendsms()
        //{
        //    var _tel = $("#tel_text").val();
        //    if (_tel != "") {
        //        $.SendData("SendSMS", { tel: _tel }, function () {
        //            $("#telsub_button").attr("disabled", "disabled");
        //            countDown();
        //            countDownTag = setInterval("countDown()", 1000);
        //        }, function (data) {
        //            if (data.e == 2) {
        //                alert("短信发送失败"); reBtton();
        //            }
        //            else if(data.e == 3)
        //            {
        //                alert("你还没有绑定手机，请去客户端进行手机绑定"); reBtton();
        //            }
        //            else if(data.e == 4)
        //            {
        //                alert("您输入的手机号码和您绑定手机号码不一致"); reBtton();
        //            }
        //            else if(data.e == 0){
        //                alert("登陆超时,请重新登陆网站");
        //                window.location.href = "/UserCenter/Login";
        //            }
        //        });
        //    }
        //    else
        //        alert("请填写手机号码")
        //}
        var cDownNum = 180;
        var countDownTag;
        function countDown()
        {
            cDownNum--;
            $("#telsub_button").attr("style", "width:100px").val(cDownNum + "秒后请重试");
            if (cDownNum <= 0)
            {
                reBtton();
                cDownNum = 180;
            }
        }
        function reBtton()
        {
            $("#telsub_button").val("发送验证码");
            $("#telsub_button").removeAttr("disabled");
            clearInterval(countDownTag);
        }
    </script>
</head>

<body onload="MM_preloadImages('/images/wap/fh1.png', '/images/wap/gz01.png', '/images/wap/pm01.png', '/images/wap/tj01.png')">
    <!--兑换申请-->
    <div class="cz">
        <div class="cz1">银行卡兑换</div>
        <div class="cz2"><img src="/images/wap/line.png" width="100%" /></div>
        <div class="cz7">
            @Model.EerrorMessage
        </div>
        <div class="cz3">

            @using(Html.BeginForm("TradeMall","Wap",FormMethod.Post,new {id="formtradeMall"}))
            {
                <table width="90%" border="0" style="margin:auto;">
                    <tr>
                        <td width="40%" align="right">保险柜余额：</td>
                        <td>@Model.InsureScore</td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">金币：</td>
                        <td>@Model.Score</td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">活动赠送金币：</td>
                        <td>@Model.RegisterScore</td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">可兑换金币：</td>
                        @{decimal cscore = @Model.Score - @Model.RegisterScore;}
                        <td>@(cscore < 0 ? 0 : cscore)</td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">兑换金额：</td>
                        <td><input class="czje" name="amount" id="amount_txt">&nbsp;至少 @Model.LeastScore 元.</td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">登录密码：</td>
                        <td><input name="login_pwd" type="password" id="login_pwd_txt" class="czje" /></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">保险柜密码：</td>
                        <td><input name="account_pwd" type="password" id="account_pwd_txt" class="czje" /></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">银行账号：</td>
                        <td>@Model.BankInfo.BankNum</td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">银行名称：</td>
                        <td>@Model.BankInfo.BankName</td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">持卡人姓名：</td>
                        <td>@Model.BankInfo.BankAccount</td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">开户网点：</td>
                        <td>@Model.BankInfo.BankAddress<input type="hidden" name="opentime" value="@Model.OpenTime" /></td>
                    </tr>
                    @*<tr>
                        <td width="40%" align="right">手机号码： </td>
                        <td>
                            <input type="text" class="czje" id="tel_text" maxlength="13" />&nbsp;
                            <input id="telsub_button" type="button" class="submit" tabindex="3" onclick="sendsms()" value="发送验证码">
                        </td>
                    </tr>
                    <tr>
        <td width="40%" align="right">短信验证码： </td>
        <td align="left"><input id="smsCode_id" name="smsCode_name" type="text" class="czje" style="width:60px" /></td>
    </tr>*@               
                </table>
            }
        </div>
        <div class="cz5" onclick="sub()"><img src="/images/wap/qrdh.png" width="100%" border="0" /></div>
        <div class="cz7">
            充值规则：<br />
            1. 请确保您填写的用户名正确无误，因玩家输入错误而导致的任何损失由用户自行承担。<br />
            2. 充值过程中，浏览器会跳转至支付页面，支付成功后，会自动返回本网站，如果没有跳转或是弹出充值成功的页面，请您不要关闭充值窗口。<br />
            3. 如有任何疑问，请您联系客服中心。<br />
        </div>
    </div>
    
        
    <script>
        function sub() {
            if ($("#amount_txt").val() == "") {
                alert("兑换金额不能为空");
                return false;
            }
            if ($("#amount_txt").val() < @Model.LeastScore)
            {
                alert("兑换金额至少为 @Model.LeastScore 元");
                return false;
            }
            if ($("#login_pwd_txt").val() == "") {
                alert("登录密码不能为空");
                return false;
            } if ($("#account_pwd_txt").val() == "") {
                alert("保险柜密码不能为空");
                return false;
            } 
            //if ($("#smsCode_id").val() == "") {
            //    alert("请填写短信验证码。");
            //    return false;
            //}

            $("#formtradeMall")[0].submit();
        }


            
            
           
            
            
           

            
    </script>

 
</body>
</html>
