@{
    Layout = null;
}
@model WebSite_YS.Models.Partial.BankInfo
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>内嵌</title>
    <link rel="stylesheet" type="text/css" href="/Content/wap/css.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
        function MM_swapImgRestore() { //v3.0
            var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
        }
        function MM_preloadImages() { //v3.0
            var d = document; if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
            }
        }

        function MM_findObj(n, d) { //v4.01
            var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
            }
            if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
            if (!x && d.getElementById) x = d.getElementById(n); return x;
        }

        function MM_swapImage() { //v3.0
            var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2) ; i += 3)
                if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
        }
    </script>
</head>

<body onload="MM_preloadImages('/images/wap/fh1.png', '/images/wap/gz01.png', '/images/wap/pm01.png', '/images/wap/tj01.png')">
    <div class="cz">
        <div class="cz1">银行绑定</div>
        <div class="cz2"><img src="/images/wap/line.png" width="100%" /></div>
        <div class="cz7">
            @Model.EerrorMessage
        </div>
        <div class="cz3">
               @using (Html.BeginForm("BindBank", "Wap", FormMethod.Post, new { id="bankinfoForm"}))
               { 
                <table width="90%" border="0" style="margin:auto;">
                    <tr>
                        <td width="40%" align="right">持卡人姓名：</td>
                        <td><input class="czje" id="baccount" name="BankAccount" value="@Model.BankAccount"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">开户银行：</td>
                        <td><input class="czje" id="bname" name="BankName" value="@Model.BankName"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">银行账号：</td>
                        <td><input class="czje" id="bnum" name="BankNum" value="@Model.BankNum"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">开户网点：</td>
                        <td><input class="czje" id="baddress" name="BankAddress" value="@Model.BankAddress"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">QQ号：</td>
                        <td><input class="czje" id="bqq" name="qq" value="@Model.QQ"></td>
                    </tr>
                    <tr>
                        <td width="40%" align="right">手机号：</td>
                        <td><input class="czje" id="bmobile" name="mobile" value="@Model.Mobile"></td>
                    </tr>
                </table>
               }
        </div>

        <div class="cz5" onclick="sub()"><img src="/images/wap/qr.png" width="100%" border="0" /></div>
    </div>
    <script>
        function sub()
        {   
            var bqq = $("#bqq").val();
            var bmobile = $("#bmobile").val();
            if ($("#baccount").val() == "") {
                alert("持卡人姓名不能为空");
                return;
            }
            if ($("#bname").val() == "") {
                alert("开户银行不能为空");
                return;
            } if ($("#bnum").val() == "") {
                alert("银行账号不能为空");
                return;
            }
            if ($("#baddress").val() == "") {
                alert("开户网点不能为空");
                return;
            }
            var regMobile = /^[\d]{11}$/;
            if (!regMobile.test(bmobile)) {
                alert("请输入手机号码,由11位数字组成！");
                return false;
            }
            var regQQ = /^[\d]{6,16}$/;
            if (!regQQ.test(bqq)) {
                alert("请输入QQ号码,由6-16位数字组成！");
                return false;
            }

            $("#bankinfoForm")[0].submit();
        }

    </script>
</body>
</html>
