@model WebSite_YS.Models.UserCenter
@using (Ajax.BeginForm("UpdateUserinfo", "UserCenter", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "ManagerMain",
        }, new { id = "F_UserInfo" }))
{<div class="login-right">
                <div class="login-right-title">@Model.Accounts,欢迎进入个人中心</div>
            <div class="login-table-box">
                <!--行-开始-->
                <div class="login-table-row">
                    <div class="login-name"><font color="#806961">用户ID</font></div>
                    <div class="login-txt">@Model.Userid.RandomId()</div>
                </div>
                <!--行-结束-->
                <!--行-开始-->
                <div class="login-table-row">
                    <div class="login-name"><font color="#806961">昵称</font></div>
                    <div class="login-txt">@Model.Accounts</div>
                </div>
                <!--行-结束-->
                <!--行-开始-->
                <div class="login-table-row">
                    <div class="login-name"><font color="#806961">性别</font></div>
                    <div class="login-txt">@Model.Gender</div>
                </div>
                <!--行-结束-->

                <!--行-开始-->
                <div class="login-table-row">
                    <div class="login-name"><font color="#806961">保险柜余额</font></div>
                    <div class="login-txt">@Model.InsureScore</div>
                </div>
                <!--行-结束-->
                <!--行-开始-->
                <div class="login-table-row">
                    <div class="login-name"><font color="#806961">金币</font></div>
                    <div class="login-txt">@Model.Score　<a href="javascript:void(0);" onclick="M_RefreshScore();"><img src="/images/idinfo-shuaxin.png" style=" vertical-align:middle;" /></a></div>
                </div>
                <!--行-结束-->
                <!--行-开始-->
                <div class="login-table-row">
                    <div class="login-name"><font color="#806961">状态</font></div>
                    <div class="login-txt">@Model.Nullity</div>
                </div>
                <!--行-结束-->
                <!--行-开始-->
                <div class="login-table-row">
                    <div class="login-name"><font color="#806961">注册时间</font></div>
                    <div class="login-txt">@Model.RegisterDate</div>
                </div>
                <!--行-结束-->
                <!--行-开始-->
                <div class="login-table-row">
                    <div class="login-name"><font color="#806961">最后登录</font></div>
                    <div class="login-txt">@Model.LastLogonDate</div>
                </div>
                <!--行-结束-->
            </div>
 </div>
}